.game-over {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 300px;
  background-color: black;
  text-align: center;

  &__title {
    color: white;
    font-size: 50px;

  }
}