$yellow: #FFC334;

@mixin round-button($baseColor: $yellow, $hoverBaseColor: #333, $diameter: 5vw) {
  background: $baseColor;
  border: 3px solid #fff;
  border-radius: 30%;
  box-shadow: 0 -2px 0 3px darken($baseColor, 10%) inset, 0 5px 5px rgba(darken($baseColor, 40%), 0.17), 0 15px rgba(#fff, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: $diameter;
  width: 17vw;
  transition: all 0.3s ease-out;
  font-size: 1.5rem;
}

.game-pause {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 300px;
  border-radius: 10px;
  background-color: black;
  border: 3px solid white;
  text-align: center;
  z-index: 2;

  &__title {
    color: white;
    font-size: 50px;
  }

  &__continue {
    @include round-button($yellow);

    &:hover {
      transform: scale(1.1);
    }
  }

}