.settings {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: 0.3 ease all;
}

.settings:hover {
  transform: scale(1.1);
}

.settings-icon {
  width: 100%;
  height: 100%;
}

.game-menu {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

$yellow: #FFC334;
$red: #E53030;
$green: #0EC518;

@mixin round-button($baseColor: $yellow, $diameter: 7vw) {
  background: $baseColor;
  border: 3px solid #fff;
  border-radius: 30%;
  box-shadow: 0 -2px 0 3px darken($baseColor, 10%) inset, 0 5px 5px rgba(darken($baseColor, 40%), 0.17), 0 15px rgba(#fff, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: $diameter;
  width: 14vw;
  transition: all 0.3s ease-out;
  font-size: 1.5rem;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-red {
  @include round-button($red);
}

.btn-green {
  @include round-button($green);
}

.btn-yellow {
  @include round-button($yellow);
}