@import 'startSettings.scss';
@import 'gameOver.scss';
@import 'gamePause.scss';
@import 'tetraminoNext.scss';
@import 'infoPanele.scss';

@font-face {
  src: url("../assets/fonts/Sonic\ 1\ Title\ Screen\ Filled.ttf");
  font-family: "Sonic";
  font-weight: 400;
  font-display: swap;
}

:root {
  font-family: Sonic, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: inherit;
}

button {
  font-family: inherit;
  color: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: url('../assets/image/back.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.container-game {
  display: flex;
  height: 95vh;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: black;
}

#game-tetris {
  border: 2px solid white;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 10px;
}