.tetromino {
  position: relative;
  width: 150px;
  height: 200px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.7);
}

.tetromino span {
  display: block;
  width: 31px;
  height: 31px;
}

/* I */
.tetromino-i span {
  background-color: cyan;
  margin-left: 56px;
}

.tetromino-i span:first-child {
  margin-top: 35px;
}

.tetromino-i span:not(:last-child) {
  margin-bottom: 1px;
}

/* J */
.tetromino-j span {
  position: absolute;
  background-color: blue;
}

.tetromino-j span:first-child {
  left: 27px;
  top: 62px;
}

.tetromino-j span:nth-child(2) {
  left: 27px;
  top: 94px;
}

.tetromino-j span:nth-child(3) {
  left: 59px;
  top: 94px;
}

.tetromino-j span:last-child {
  left: 90.5px;
  top: 94px;
}

/* S */
.tetromino-s span {
  position: absolute;
  background-color: green;
}

.tetromino-s span:first-child {
  left: 59px;
  top: 62px;
}

.tetromino-s span:nth-child(2) {
  left: 27px;
  top: 94px;
}

.tetromino-s span:nth-child(3) {
  left: 59px;
  top: 94px;
}

.tetromino-s span:last-child {
  left: 90.5px;
  top: 62px;
}

/* L */
.tetromino-l span {
  position: absolute;
  background-color: orange;
}

.tetromino-l span:first-child {
  left: 91px;
  top: 94px;
}

.tetromino-l span:nth-child(2) {
  left: 27px;
  top: 94px;
}

.tetromino-l span:nth-child(3) {
  left: 59px;
  top: 94px;
}

.tetromino-l span:last-child {
  left: 90.5px;
  top: 62px;
}

/* O */
.tetromino-o span {
  position: absolute;
  background-color: yellow;
}

.tetromino-o span:first-child {
  left: 76.5px;
  top: 94px;
}

.tetromino-o span:nth-child(2) {
  left: 44px;
  top: 62px;
}

.tetromino-o span:nth-child(3) {
  left: 44px;
  top: 94px;
}

.tetromino-o span:last-child {
  left: 76.5px;
  top: 62px;
}

/* Z */
.tetromino-z span {
  position: absolute;
  background-color: red;
}

.tetromino-z span:first-child {
  left: 91px;
  top: 94px;
}

.tetromino-z span:nth-child(2) {
  left: 27px;
  top: 62px;
}

.tetromino-z span:nth-child(3) {
  left: 59px;
  top: 94px;
}

.tetromino-z span:last-child {
  left: 59px;
  top: 62px;
}

/* T */
.tetromino-t span {
  position: absolute;
  background-color: purple;
}

.tetromino-t span:first-child {
  left: 91px;
  top: 94px;
}

.tetromino-t span:nth-child(2) {
  left: 27px;
  top: 94px;
}

.tetromino-t span:nth-child(3) {
  left: 59px;
  top: 94px;
}

.tetromino-t span:last-child {
  left: 59px;
  top: 62px;
}